<ul class="navbar-ul">
	<li class="home active"><%= link_to image_tag('home.png'), root_path, :class => 'home' %></li>
	<li class=""><%= link_to image_tag('about.png'), nil, :class => 'about' %></li>
	<li class=""><%= link_to image_tag('contact.png'), nil, :class => 'contact' %></li>
</ul>