<div class="edit"><%= link_to 'Edit Post', edit_post_path(@post.id) %></div>
<h1><%= @post.title %></h1>
<h2><%= @post.date.to_date.readable_inspect %></h2>
<div class="content">
<%= @post.body.html_safe %>
</div>