a:hover {
	color:#E6D22C !important;
}
a {
	text-decoration:none;
}
input {
	:focus {
		outline-width:0;
	}
}
::-webkit-input-placeholder {
	color:black;
}
:focus {
	border-style:none;
}
input:focus {
	outline-width:0px;
}
.main-body {
	background-color: #37517c;
	height:100%;
	width:100%;
	position:relative;
}
.container {
	width: 879px;
	margin: {
		top:20px;
		left: auto;
		right: auto;
		bottom:30px;
	}
	color:white;
	font: {
		family:"Helvetica Neue";
		size:13pt;
		color:white;
	}
	h1 {
		font-size:30pt;
		color:white;
		margin:0;
		margin-top:10px;
		padding:0;
	}
	h2 {
		font-size:14pt;
		color:#e6d22c;
		padding:0;
		margin:0;
		margin-bottom:10px;
	}
	position:relative;
	
	.container-two {
		width:615px;
		margin: {
			right:auto;
		}
	}
}
.threedot {
	background-image: url('/assets/threedotproduction.png');
	margin: {
		top:-10px;
	}
	height:56px;
	width:150px;
	float:right;
}
.cloud {
	background-image: url('/assets/cloud.png');
	height:116px;
	width:191px;
	margin: {
		left:auto;
		right:auto;
	}
}
.danknox {
	background-image: url('/assets/danknox.png');
	width:577px;
	height:62px;
	margin: {
		top:23px;
		left:auto;
		right:auto;
	}
	position:relative;
}
.navbar {
	width:610px;
	height:89px;
	margin: {
		top:22px;
		left:auto;
		right:auto;
	}
	position:relative;
	
	.home {
		width:160px;
		height:89px;
	}
	
	.about {
		width:186px;
		height:89px;
	}
	
	.contact {
		width:214px;
		height:89px;
	}
	
	.navbar-left {
		float:left;
		background-image: url('/assets/navbar-left.png');
		width:14px;
		height:89px;
		position:relative;
	}
	
	.navbar-middle {
		background-image: url('/assets/navbar-middle.png');
		background-repeat:repeat-x;
		height:89px;
		width:582px;
		float:left;
	}
	
	.navbar-right {
		background-image: url('/assets/navbar-right.png');
		float:right;
		width:14px;
		height:89px;
	}
	ul {
		list-style:none;
		padding:0;
		margin:0;
		
		li {
			background-image:url('/assets/navbar-middle.png');
			float:left;
			text-align:center;
			:hover {
				background-image:url('/assets/active.png');
			}
			a {
				display: table-cell;
				margin:0;
				padding:0;
				padding-left:10px;
				height:89px;
				line-height:0px;
			}
			.home {
				width:160px;
				height:89px;
			}
			.about {
				width:186px;
				height:89px;
			}
			.contact {
				width:214px;
				height:89px;
			}
		}
		.active {
			background-image:url('/assets/active.png');
		}
	}
}
.recent {
	width:244px;
	height:292px;
	padding:0;
	margin: {
		top:21px;
		bottom:0px;
	}
	float:right;
	right:0px;
	position:absolute;
	.recent-title {
		background-image:url('/assets/recent.png');
		width:244px;
		height:43px;
		padding:0;
		margin:0;
		margin: {
			top:14px;
		}
		margin-top:14px;
	}
	.recent-ul {
		list-style-image:url('/assets/li.png');
		margin-top:15px;
		margin-left:-15px;
		li {
			margin-bottom:15px;
			
			a {
				color:white;
			}
		}
	}
	.search {
		background-image:url('/assets/search.png');
		background-color:transparent;
		height:43px;
		width:188px;
		padding-left:55px;
		position: absolute;
		font-size:17pt;
		color:black;
		left: 0px;
		float: left;
		border:0;		
	}
}
.search-box {
	display:table-cell;
	margin-bottom:20px;
	position:relative;
}
.user-account {
	display: block;
	position: relative;
	margin-top: 60px;
	margin-left: 10px;
	a {
		color:#E6D22C;
	}
}
.content-container {
	width:98%;
	margin: {
		left: auto;
		right: auto;
	}
	padding-left:14px;
	
	.flash-message {
		color: #404040;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		background-image: none;
		background-color: #FDF5D9;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		padding: 14px;
		width:90%;
		margin: {
			top:15px;
			bottom:10px;
			left:auto;
			right:auto;
		}
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		
		border: {
			color:#FCEEC1;
			style:solid;
			width:3px;
			radius:3px;
		}
	}
	.alert {
		background-color:#FDDFDE;
		border-color:#FBC7C6;
	}
	
	.notice {
		background-color:#D1EED1;
		border-color:#BFE7BF;
	}
}
.main {
	width:605px;
	background-color:#6c717b;
	position:relative;
	margin-top:21px;
	padding:0;
	padding-bottom:30px;
	border: {
		width:3px;
		color:white;
		style:solid;
		radius:4px;
	}
	
	.edit {
		float: right;
		padding-right: 5px;
		margin-top:-10px;
		a {
			color:white;
		}
	}
	
	.content {
		padding-right:14px;
		
		p {
			margin-top:0px;
			text-align:justify;
			text-justify:inter-work;
		}
		
		input, textarea {
			height: 35px;
			width: 555px;
			border-radius: 20px;
			border-style: solid;
			border-width: 4px;
			margin-top: 10px;
			padding-left: 20px;
			font-size: 18px;
		}
		
		textarea {
			height:500px;
		}
		
		pre {
			/* Fallback for web browsers that doesn't support RGBa */
			background: rgb(152, 156, 161);
			/* RGBa with 0.6 opacity */
			background: rgba(152, 156, 161, 0.8);
			width:95%;
			padding:10px;
			border-radius:5px;
		}
		code {
			margin-right:auto;
			margin: {
				right:auto;
				top:30px;
				bottom:30px;
			}
			padding-left:10px;
			color:white;
			font-weight:bold;
			line-height:22px;
			font-size:18px;
		}
	
	}
}
.email-me {
	a {
		color:#E6D22C;
	}
}
.comment-stats {
	margin-top:20px;
}
.comments {
	width:595px;
	background-color:#a7b1bc;
	position:relative;
	margin-top:21px;
	color:black;
	padding:0;
	padding-bottom:20px;
	padding-top:10px;
	padding-left:14px;
	border: {
		width:3px;
		color:white;
		style:solid;
		radius:4px;
	}
	
	table {
		margin-top:5px;
		
		td {
			display:table;
		}
	}
	
	a {
		color:#E6D22C;
		margin-left:5px;
	}
	
	textarea {
		height: 120px;
		width: 556px;
		border-radius: 10px;
		border-style: solid;
		border-width: 2px;
		margin-top: 10px;
		padding-left: 10px;
		padding-top:10px;
		font-size: 18px;
	}
	
	input {
		height: 35px;
		width: 150px;
		border-radius: 10px;
		border-style: solid;
		border-width: 2px;
		margin: {
			top: 5px;
			left: 5px;
		}
		padding-left: 5px;
		padding-top:5px;
		font-size: 18px;
	}
	
	textarea:focus {
		outline-width:0px; 
	}
}
.footer {
	width:621px;
	padding-left:14px;
	margin-top:20px;
	font: {
		family:"Helvetica Neue";
		font-size:18pt;
		weight:bold;
		color:white;
	}
	a {
		color:white;
	}
}
.float-right {
	float:right;
	margin-right:40px;
}